@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.hero-info {
  opacity: 0;
}

.opacity-2s {
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}
.right-0-1s {
  right: 2rem;
  transition: 1s;
  -webkit-transition: 1; /* Safari */
}

@font-face {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/interstate/interstate-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/interstate/interstate-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/interstate/interstate-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/interstate/interstate-black.woff") format("woff");
  font-display: swap;
}

body {
  font-weight: 400;
  font-family: "Interstate";
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
